@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;

}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    font-weight: bolder;
    font-size: 80px;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    font-family: var(--fonte1);
    font-weight: bold;
    padding-bottom: 50px;
}

header > p > a {
    text-decoration: none;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 4em;
    padding-left: 30px;
}


section.normal{
    background-color: white;

}

section p {
    font-family: var(--fonte3);
    font-size: 39px;
}

section.image {
    color: white;
    background-image: url('../imagens/background001.jpg'); 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}

section.image > p{
    background-color: rgba(0, 0, 0, 0.503);
    height: 470px;
    width: 515px;
    padding: 7px;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    font-family: var(--fonte2);
    font-size: 23px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}